<html ng-app="cccApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/main.css" />
    <script type="text/javascript" src="public/main.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="main" ng-controller="homeCtrl">
      <div ng-include="'partials/subnav.html'"></div>
      <h1>We Woke Up Like This 2016</h1>
      <ul class="toggles align">
        <li ng-click="setWorkout(0)" ng-class="{active: workout == 0}">Teams</li>
        <li ng-click="setWorkout(1)" ng-class="{active: workout == 1}">Workout 1</li>
        <li ng-click="setWorkout(2)" ng-class="{active: workout == 2}">Workout 2</li>
        <li ng-click="setWorkout(3)" ng-class="{active: workout == 3}">Workout 3</li>
        <li ng-click="setWorkout(4)" ng-class="{active: workout == 4}">Workout 4</li>
      </ul>
      <ul class="toggles align">
        <li ng-click="setDivision('rx')" ng-class="{active: division == 'rx'}">Rx</li>
        <li ng-click="setDivision('scaled')" ng-class="{active: division == 'scaled'}">Scaled</li>
        <li ng-click="setDivision('workouts')" ng-class="{active: division == 'workouts'}">Workouts</li>
      </ul>
      <hr />
      <div class="flex-table" ng-hide="division == 'workouts'" >
        <div class="flex-row align">
          <div class="flex-column"><strong>Team</strong></div>
          <div class="flex-column"><strong>W 1</strong></div>
          <div class="flex-column" ng-show="workout > 1 || workout == 0"><strong>W 2</strong></div>
          <div class="flex-column" ng-show="workout > 2 || workout == 0"><strong>W 3</strong></div>
          <div class="flex-column" ng-show="workout > 3 || workout == 0"><strong>W 4</strong></div>
          <div class="flex-column"><strong>Overall</strong></div>
        </div>
        <div class="flex-row align" ng-repeat="team in teams" ng-show="shouldShow(team)">
          <div class="flex-column">{{team.name}}</div>
          <div class="flex-column">{{team.scores[1] || "--"}} ({{team.placement[1] || "--"}})</div>
          <div class="flex-column" ng-show="workout > 1 || workout == 0">{{team.scores[2] || "--"}} ({{team.placement[2] || "--"}})</div>
          <div class="flex-column" ng-show="workout > 2 || workout == 0">{{team.scores[3] || "--"}} ({{team.placement[3] || "--"}})</div>
          <div class="flex-column" ng-show="workout > 3 || workout == 0">{{team.scores[4] || "--"}} ({{team.placement[4] || "--"}})</div>
          <div class="flex-column">{{team.overall || "--"}}</div>
        </div>
      </div>
      <div class="align workouts" ng-hide="division != 'workouts'" >
        <div class="workout">
          <h3 class="underline">Event 1</h3>
					<span>Karen+Isabel+Grace</span><br/>
					<span>AMRAP for 10 minutes of:</span><br/>
					<span>150 Wall Balls, 14 lb.</span><br/>
					<span>30 Snatches, 95 lb.</span><br/>
					<span>30 Clean & Jerks, 95 lb.</span>
        </div>
        <div class="workout">
          <h3 class="underline">Event 2</h3>
					<span>Burpee Diane</span><br/>
					<span>AMRAP for 8 minutes of:</span><br/>
					<span>42-30-18</span><br/>
					<span>Deadlifts, 155 lb.</span><br/>
					<span>Burpees over the bar</span><br/>
					<span>-then-</span><br/>
					<span>Max Handstand Push-ups in the remaining time.</span>
        </div>
        <div class="workout">
          <h3 class="underline">Event 3</h3>
					<span>GHD Annie (time cap: 10 minutes)</span><br/>
					<span>AMRAP for 10 minutes of:</span><br/>
					<span>30 Double Unders & 15 GHD Sit-ups</span>

					<p>Each partner must complete an entire round before the other can begin. There will be a short distance between the jump ropes and GHD’s.
					After completing the GHD Sit-ups, that partner will run back to the jump rope area and tag their partner in. Score total reps.</p>
        </div>
        <div class="workout">
          <h3 class="underline">Event 4</h3>
					<span>FRANRAP 8</span><br/>
					<span>AMRAP for 8 minutes of:</span><br/>
					<span>Round 1</span><br/>
					<span>21 Pull-ups</span><br/>
					<span>Max Thrusters, 65 lb.</span><br/>
					<br/>
					<span>Round 2</span><br/>
					<span>15 Pull-ups</span><br/>
					<span>Max Thrusters</span><br/>
					<br/>
					<span>Round 3 and beyond</span><br/>
					<span>9 Pull-ups</span><br/>
					<span>Max Thrusters</span><br/>
					<br/>
					<p>While one partner performs pull-ups, the other performs as many thrusters as possible. Switch when one partner completes their pull-ups. Both partners
						must complete 21 pull-ups each before moving to the round 15. Both partners must complete 15 pull-ups each before moving to the round(s) of 9. Score total thrusters.</p>
        </div>
      </div>
    </div>
  </body>
</html>
