<html ng-app="cccApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/main.css" />
    <script type="text/javascript" src="public/main.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="main" ng-controller="homeCtrl">
      <div ng-include="'partials/subnav.html'"></div>
      <h1>Car Crush Can 2017</h1>
      <ul class="toggles align">
        <li ng-click="setWorkout(0)" ng-class="{active: workout == 0}">Teams</li>
        <li ng-click="setWorkout(1)" ng-class="{active: workout == 1}">Workout 1</li>
        <li ng-click="setWorkout(2)" ng-class="{active: workout == 2}">Workout 2</li>
        <li ng-click="setWorkout(3)" ng-class="{active: workout == 3}">Workout 3</li>
      </ul>
      <ul class="toggles align">
        <li ng-click="setDivision('rx')" ng-class="{active: division == 'rx'}">Rx</li>
        <li ng-click="setDivision('scaled')" ng-class="{active: division == 'scaled'}">Scaled</li>
        <li ng-click="setDivision('workouts')" ng-class="{active: division == 'workouts'}">Workouts</li>
      </ul>
      <hr />
      <div class="flex-table" ng-hide="division == 'workouts'" >
        <div class="flex-row align">
          <div class="flex-column"><strong>Team</strong></div>
          <div class="flex-column"><strong>W 1</strong></div>
          <div class="flex-column" ng-show="workout > 1 || workout == 0"><strong>W 2</strong></div>
          <div class="flex-column" ng-show="workout > 2 || workout == 0"><strong>W 3</strong></div>
          <div class="flex-column"><strong>Overall</strong></div>
        </div>
        <div class="flex-row align" ng-repeat="team in teams" ng-show="shouldShow(team)">
          <div class="flex-column">{{team.name}}</div>
          <div class="flex-column">{{team.scores[1] || "--"}} ({{team.placement[1] || "--"}})</div>
          <div class="flex-column" ng-show="workout > 1 || workout == 0">{{team.scores[2] || "--"}} ({{team.placement[2] || "--"}})</div>
          <div class="flex-column" ng-show="workout > 2 || workout == 0">{{team.scores[3] || "--"}} ({{team.placement[3] || "--"}})</div>
          <div class="flex-column">{{team.overall || "--"}}</div>
        </div>
      </div>
      <div class="align workouts" ng-hide="division != 'workouts'" >
        <div class="workout">
          <h3 class="underline">Event 1</h3>
          <p>
            <strong>AMRAP 8</strong><br/>
            For 8 minutes teams will compile as many calories and burpee box jumps as possible.<br/></br/>
            Max Calorie Row: One athlete will always be on the rower. Every 60 seconds teams will rotate athletes,
            in order, on the rower. Each athlete must row twice.<br/></br/>
            Max Burpee Box Jumps, 24/20: The non-rowing teammates will perform max reps of burpee box jumps. Break up
            the reps any way you choose. Only one box per team.<br/></br/>
            Score total combined calories and reps.
        </p>
        </div>
        <div class="workout">
          <h3 class="underline">Event 2</h3>
          <p>
            <strong>MAX OUT</strong><br/>
            6 minutes to establish:<br/>
            1RM hang snatch (1M/1F)<br/><br/>
            Then immediately into a 1 minute AMRAP of synchronized C2B pull-ups.<br/><br/>
            6 minutes to establish:<br/>
            1RM hang clean (1M/1F)<br/><br/>
            Then immediately into a 1 minute AMRAP of synchronized C2B pull-ups.<br/><br/>
            1M/1F pairs will have 6 minutes to establish a 1RM hang snatch, then will immediately go into a
            1 minute AMRAP of synchronized C2B pull-ups. The second 1M/1F pair will then have 6 minutes to
            establish a 1RM hang clean and 1 minute to perform as many synchronized C2B pull-ups as possible.
            There is no break between the 7 minute periods. Power or squat is permitted for the lifts.<br/><br/>
            For synchronized C2B pull-ups, athletes do not necessarily need to touch their chests to the bar
            at the exact same time, but the timing should be very close. Make your best effort. Reps will only be
            counted after both athletes have touched their chest to the bar.<br/><br/>
            Score total combined weight and pull-ups. Pounds will count as reps.
          </p>
        </div>
        <div class="workout">
          <h3 class="underline">Event 3</h3>
          <p><strong>Synchronized Kalsu AMRAP</strong><br/>
            EMOM 15<br/>
            5 burpees<br/>
            Max thrusters (1M/1F synchro) in the remaining time of each minute, 135/95<br/>
            Synchronized 1M/1F working at the same time. <br/><br/>
            At the beginning of each minute all 4 teammates will complete 5 burpees. Then one male and one female
            will begin thrusters for the remainder of the minute. Switch partners as often as needed on thrusters.
            Workload does not have to be partitioned evenly, but one male and one female need to be working at the same time. <br/><br/>
            Both athletes must be locked out at the top of each thruster at the same time for the rep to count.
            One rep = when a pair completes a thruster.
            </br></br/>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
