html {
  display: block;
}
body {
  margin: 0px;
}
.subnav {
  padding: 10px 20px;
  background-color: #000;

  .item, 
  .item:visited {
    color: #fff;
    padding: 0px 10px;

    &:last-child {
      padding-right: 0px;
    }
  }
}
.align {
  display: flex;
  align-items: center;

  .right-content {
    margin-left: auto;
  }
}